.container{
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.caixa1{
    background-color: red;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
}

.caixa2{
    background-color: green;
    grid-row: 2 / 4;
    grid-column: 1 / 2;
}
.caixa3{
    background-color: blue;
    grid-area: 2 / 2 / 4 / 3;
}