body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 400px;
    height: 400px;
    border-collapse:collapse;
    position: relative; /*PARA ADICIONAR CABEÇALHO FIXO EM TABELAS GRANDES*/
}
td, th{
    padding: 5px;
    border: 1px solid black;
    text-align: center; /*Alinhamento horizontal*/
    vertical-align: middle; /*Alinhamento vertical*/
}
caption{
    border: 1px solid black;
    padding:5px;
    background-color: lightblue;
}

/*PARA CABEÇALHO FIXO*/
thead >tr >th{ 
    position: sticky;
    top: -1px;
    color: white;
    background-color: black;
}

/*EFEITO ZEBRADO    ODD(ÍMPAR) -> EVEN(PAR) -> (2N) -> (3N)...*/
tbody > tr:nth-child(odd){
    background-color: grey;
    font-weight: bold;
}
tbody > tr:nth-child(even){
    background-color: white;
}